<div class="row">
    <div class="col-md-6">
        <input class="form-control" [(ngModel)]="searchInput" (keyup)="onSearch()" placeholder="Search.." [disabled]="loading===true">
    </div>
    <div class="col-md-6">
        <select (change)="onFilter()" [(ngModel)]="filterInput" class="form-control" [disabled]="loading===true">
            <option value="">Filter By ..</option>
            <option value="id">ID</option>
            <option value="title">TITLE</option>
            <option value="channel">CHANNEL</option>
          </select>
    </div> 
 
</div>